.git
.gitignore

env/
.env/

.env
.env.test*
.env.prod*
.env.dev*
secrets.json
secrets/

logs/
*.log

.idea/
.vscode/

.DS_Store
*.swp

tests/
test/
test.*
tests.*
*.test.*
*.spec.*
/coverage

readme.md
node_modules/