# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# Build output
build/
dist/

# Ignore Python cache directories
*pycache*/

# Ignore Python compiled files
staticfiles/

# misc
venv/
.env
.env.*
secrets/

# OS-specific files
.DS_Store
*.swp

# Logs
logs/
*.log*

# IDE specific
.vscode/
.idea/

# Nginx for dev
nginx/

coverage/
backup/
