.git
.gitignore

venv/
env/
.venv/
.env/

.env
.env.*
secrets.json
secrets/

__pycache__/
*.pyc
*.pyo
*.pyd
staticfiles/

logs/
*.log

.idea/
.vscode/

.DS_Store
*.swp

tests/
test.*
tests.*
/coverage

*.md
node_modules/