@use 'mixins';
@use 'variables';

.account-page {
  @include mixins.flex-column;
  padding: 10px;
  margin: 0 auto;
  max-width: 90%;

  .auth-container {
    width: 300px;
    max-width: 90vw;
    align-self: center;

    .auth-tabs {
      border-radius: 4px 4px 0 0;
      border: variables.$purple;

      button {
        border: variables.$purple;
        background-color: variables.$purple-dark;
        color: variables.$text-light;
        font-size: 1rem;
        padding: 15px;
        cursor: pointer;

        &:first-child {
          border-radius: 4px 0 0;
        }

        &:last-child {
          border-radius: 0 4px 0 0;
        }

        &.active {
          background-color: variables.$purple;
        }
      }
    }

    .auth-content {
      background-color: variables.$purple;
      border-radius: 0 4px 4px;
      color: variables.$text-light;
      font-size: 1rem;
      padding: 15px;

      .auth-form {
        @include mixins.flex-column;
        width: 100%;
        gap: 20px;
        margin-top: 20px;

        .form-field {
          @include mixins.flexbox-basics(column, flex-end);
          width: 100%;

          input {
            padding: 12px 20px;
            margin: 8px 0;
            border: 2px solid variables.$purple;
            border-radius: 4px;
            box-sizing: border-box;
            background-color: variables.$background-light;
            color: variables.$text-dark;
            font-size: 1rem;
            font-weight: 500;
            transition: border-color 0.2s, color 0.2s;

            &.input-error {
              border-color: variables.$red;
              color: variables.$red;
            }

            &:focus {
              border-color: variables.$border-light;
              color: variables.$text-dark;
            }
          }
        }

        .error-message {
          color: variables.$red;
          font-size: 0.9rem;
          margin-top: 0.25rem;
        }
      }
    }
  }
}
