@use 'mixins';
@use 'variables';

.cart-page {
  @include mixins.list-page;

  form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }

  select {
    padding: 8px;
    border: variables.$border-light;
    border-radius: 4px;
  }
}
.cart-summary {
  @include mixins.flexbox-basics(column, space-between, center);
  padding: 10px;
  margin: 20px 0;
  gap: 10px;

  .add-offer-text {
    flex-basis: 30%;
    text-align: left;
    font-size: 1.2rem;
    color: variables.$text-light;
  }

  .add-offer-buttons {
    display: flex;
    justify-content: center;
    flex-basis: 40%;
    text-align: center;
    gap: 10px;
  }

  .cart-total {
    flex-basis: 30%;
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
    color: variables.$text-light;
  }
}

.order-button-container {
  text-align: right;
  margin-top: 20px;
}

.in-cart-offers {
  @include mixins.flex-column;
  gap: 20px;
}

.in-cart-offer {
  @include mixins.flexbox-basics(row, space-between, center);
  border: variables.$border-light;
  background-color: variables.$background-light;
  padding: 20px;
  border-radius: 5px;

  &-left {
    flex-basis: 30%;
    text-align: left;

    h3 {
      font-size: 1.2rem;
      color: variables.$purple-dark;
      margin: 0;
    }

    p {
      margin: 5px 0 0;
      font-size: 1rem;
      color: variables.$text-dark;
    }
  }

  &-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 40%;
    gap: 10px;

    input[type='number'] {
      width: 60px;
      padding: 5px;
      border: variables.$border-light;
      border-radius: 4px;
      text-align: center;
      -moz-appearance: textfield;
      appearance: textfield;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  &-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 30%;
    gap: 10px;

    p {
      font-size: 1.2rem;
      color: variables.$text-dark;
      margin: 0;
    }

    .remove-button {
      @include mixins.button-styles(transparent, transparent);
      color: variables.$red;
      font-size: 1.2rem;
      transition: color 0.1s ease;
      border-color: transparent;

      &:hover {
        color: variables.$red-dark;
      }
    }
  }
}

@include mixins.media-min('tablet-up') {
  .cart-summary {
    flex-direction: row;
    gap: initial;
  }
}
