@use 'mixins';
@use 'variables';

.header {
  position: relative;
  @include mixins.flexbox-basics(row, space-between, center);
  background-color: variables.$purple;
  padding: 1rem;
  color: variables.$text-light;
  text-align: center;
}

.logo a {
  padding: 15px;
}

.logo img {
  width: 150px;
}

nav {
  display: flex;
  align-items: center;
}

.nav-links {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    justify-content: space-between;
  }

  a {
    color: variables.$text-light;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 20px;
  }
}

.burger-menu {
  position: relative;
  z-index: 1001;

  svg {
    @include mixins.square(25px);
  }
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(59, 0, 110, 0.95);
  z-index: 1000;
  padding-top: 10vh;

  &.open,
  &.open .nav-links {
    @include mixins.flex-column;
    align-items: center;
  }

  &.nav-links li {
    margin-right: 0;
  }

  a {
    display: block;
    text-align: center;
    font-size: 1.5rem;
  }
}

.nav-link-text {
  display: inline;
}

.nav-link-icon {
  display: none;

  svg {
    @include mixins.square(25px);
  }
}

@include mixins.media-min('tablet-up') {
  nav {
    justify-content: space-between;
    width: 80%;
  }

  .nav-links {
    display: flex;
    padding: 20px;

    a {
      font-size: 1.5rem;
    }
  }

  .iconlink {
    @include mixins.flexbox-basics(column, null, center);
  }

  .nav-link-icon {
    display: inline;
  }

  .burger-menu,
  .mobile-nav {
    display: none !important;
  }
}
