@use 'variables';

html {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: variables.$purple-dark;
  color: variables.$text-dark;
}

body,
#root,
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

h1 {
  padding: 2rem;
  margin: 50px auto;
  width: 80%;
  text-align: center;
  color: variables.$text-light;
  font-size: 2.5rem;
}

.subtitle {
  padding: 2rem;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 30px;
  color: variables.$text-light;
}

h2 {
  margin: 20px 0;
  max-width: 80%;
  color: variables.$text-light;
  font-size: 2rem;
}

main.content {
  flex: 1;
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
}
