// Colors
$purple: #3b006e;
$purple-dark: #2e004d;
$gold: #a77833;
$gold-dark: #aa8031;
$red: #d80a39;
$red-dark: #a6082a;
// text colors
$text-dark: #002654;
$text-light: #d0d0d0;
// background colors
$background-light: #f5f5f5;

// borders
$border-light: 1px solid #ddd;
